@import "tailwindcss";

@layer utilities {
  @keyframes marquee {
    from { transform: translateX(0%); }
    to   { transform: translateX(-50%); }
  }

  @keyframes marquee-reverse {
    from { transform: translateX(-50%); }
    to   { transform: translateX(0%); }
  }
  @keyframes marquee-top-to-bottom {
    from { transform: translateY(0%); }
    to { transform: translateY(-50%); }
  }
  @keyframes marquee-bottom-to-top{
    from { transform: translateY(-50%) }
    to { transform: translateY(0%); }
  }

  .animate-marquee-left {
    animation: marquee linear infinite var(--duration, 10s);
  }

  .animate-marquee-right {
    animation: marquee-reverse linear infinite var(--duration, 10s);
  }

  .animate-marquee-topBottom {
    animation: marquee-top-to-bottom linear infinite var(--speed, 130s);
  }

  .animate-marquee-bottomTop {
    animation: marquee-bottom-to-top linear infinite var(--duration, 130s);
  }
/*   
  .loader {
  width: 20px;
  height: 20px;
  background: #ac0303;
  display: inline-block;
  border-radius: 50%;
  box-sizing: border-box;
  animation: animloader 1s ease-in infinite;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
} 
      
  
}


.hover\:animation-paused:hover {
  animation-play-state: paused;
}






 */
